/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

  .login_title_wrapper {
    margin-bottom: 20px;
    h1 {
      font-weight: 500;
      font-size: 28px;
    }
    p {
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: 15px;
      color: gray;
    }
  }

  .login_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 420px;
      height: 60px;
      border: none;
      margin-bottom: 10px;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
      span {
        margin-left: 8px;
      }
    }
    button:first-child {
      background-color: #ffeb3b;
    }
    button:nth-child(2) {
      background-color: #31b1e7;
      color: white;
    }
  }

  .login_link_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    a {
      color: rgb(70, 185, 224);
      margin-left: 8px;
    }
  }
}
