.signup_btn_leave {
  margin-top: 10px;
  width: 420px;
  height: 60px;
  border: none;
  color: white;
  background-color: lightgray;
  font-size: 20px;
}

.signup_btn_enter {
  margin-top: 10px;
  width: 420px;
  height: 60px;
  border: none;
  color: white;
  background-color: #31b1e7;
  font-size: 20px;
  cursor: pointer;
}
