.signup_btn_leave {
  margin-top: 10px;
  width: 450px;
  height: 80px;
  border: none;
  color: white;
  background-color: lightgray;
  font-size: 25px;
}

.signup_btn_enter {
  margin-top: 10px;
  width: 500px;
  height: 100px;
  border: none;
  color: white;
  background-color: #31b1e7;
  font-size: 40px;
  cursor: pointer;
}
