@mixin to-do {
  border: 1px solid lightgray;
}

.beforeactivate {
  position: fixed;
  top: -40%;
  width: 100%;
  transition: 1s;
  z-index: 0;
  opacity: 0.3;
  .container {
    @include to-do;
    display: flex;
    padding-left: 50px;
    opacity: 0.3;
    transition: 1s;
    .box {
      margin: 15px;
      img {
        width: 60px;
        height: 60px;
      }
      div {
        text-align: center;
      }
    }
  }
}

.activate {
  position: fixed;
  top: 12%;
  width: 100%;
  transition: all 1s;
  z-index: 0;
  opacity: 1;
  .container {
    @include to-do;
    display: flex;
    padding-left: 50px;
    opacity: 1;
    transition: 1s;
    .box {
      @include to-do;
      margin: 15px;
      img {
        width: 60px;
        height: 60px;
      }
      div {
        text-align: center;
      }
    }
  }
}
