@mixin todo {
  border: 1px solid lightgray;
}

$title_fontsize: 18px;
$price_fonstsize: 23px;

.card_wrapper {
  @include todo;
  width: 18.3vw;
  margin-left: 20px;

  .card_img_box {
    @include todo;
    background-color: beige;
    width: 18.3vw;
    height: 16vw;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .card_store_type {
    @include todo;
    display: flex;
    justify-content: space-between;
    .card_store_name {
      @include todo;
    }
    .card_product_type {
      @include todo;
    }
  }
  .card_product_name {
    @include todo;
    font-size: $title_fontsize;
  }
  .card_product_price {
    @include todo;
    font-size: $price_fonstsize;
  }
  .card_review {
    @include todo;
    img {
      @include todo;
      width: 15px;
      height: 15px;
    }
    span {
      @include todo;
    }
  }
}
