/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

.product_purchase_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 50%;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
  }

  button:hover {
    opacity: 50%;
    cursor: pointer;
  }

  :nth-child(1) {
    padding: 20px;
    margin-right: 8px;
    border: 2px solid #999;
    background-color: #fff;
    color: #999;
  }

  :nth-child(2) {
    padding: 20px;
    border: 2px solid #31b1e7;
    background-color: #31b1e7;
    color: #fff;
  }
}

.product_notice {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  margin-top: 12px;
  border: 1px solid #31b1e7;
  font-size: 14px;
  font-weight: 400;
  color: #31b1e7;

  img {
    margin-right: 8px;
    width: 24px;
  }
}
