/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

.product_delivery_container {
  padding: 20px 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  list-style: none;
}
