@mixin custom_h {
  width: 100%;
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
  box-sizing: border-box;
}

.mypage_main_order_li_title {
  display: flex;
  font-size: 20px;
  color: #31b1e7;
  font-weight: 600;
  border-top: 3px solid black;
  border-bottom: 1px solid black;

  div:first-child {
    width: 40%;
  }

  div {
    width: 20%;
    text-align: center;
    margin: 0px 50px;
    padding: 15px;
  }
}

.mypage_main_order_li_content {
  display: flex;
  font-size: 20px;
  color: grey;

  div:first-child {
    width: 40%;
  }
  .product_info_img {
    width: 100px;
    height: 100px;
  }

  div {
    width: 20%;
    text-align: center;
    margin: 0px 50px;
    padding: 15px;
  }

  .order_li_product_wrapper {
    display: flex;
    align-items: center;
  }

  .order_li_oreder_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .price {
      display: flex;
      flex-direction: column;
      .price_unit {
        margin-left: 5px;
      }
    }
  }
}
