@mixin todo {
  border: 1px solid lightgray;
}

@mixin title_font_style {
  font-size: 25px;
  font-weight: bold;
}

$title_font_size: 25px;

.wrapper {
  @include todo;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  .header {
    @include todo;
    display: flex;
    justify-content: space-between;
    .title {
      @include todo;
      @include title_font_style;
    }
    .slider_controler {
      @include todo;
      display: flex;
      align-items: center;
      .page {
        @include todo;
        margin-right: 10px;
      }
      .arrow_box {
        @include todo;
        img {
          @include todo;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .card_container {
    @include todo;

    overflow: hidden;
    margin-top: 20px;
    .card_box {
      display: flex;
    }
  }
}
