/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

.product_selected {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fafafa;
  border-radius: 4px;

  &_left {
    width: 60%;

    span {
      display: inline-block;
      margin-bottom: 12px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 400;
      color: #999;
    }

    .product_selected_count_container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2px 8px;
      max-width: 80px;
      height: 25px;
      background-color: #fff;
      border: 1px solid #ececec;

      button {
        overflow: visible;
        background-color: #fff;
        border: none;
        font-size: 16px;
        color: #999;
        cursor: pointer;
      }

      span {
        display: inline-block;
        margin: 0 20px;
        font-size: 14px;
        color: #222;
      }
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    img {
      margin-bottom: 23px;
      width: 11px;
      cursor: pointer;
    }

    span {
      font-size: 20px;
      font-weight: 500;
      color: #222;
      word-break: keep-all;
    }
  }
}
