/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

.product_options_container {
  padding-top: 40px;

  span {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
  }
}
