@mixin title {
  font-size: 30px;
  font-weight: bold;
}

@mixin to-do {
  border: 1px solid lightgray;
}

.wrapper {
  width: 100%;

  .container {
    display: flex;
    width: 100%;
    background-color: white;

    .design_box {
      @include title;
      margin: 20px 20px 0px 40px;
      padding-bottom: 20px;
    }
    .box {
      @include title;
      margin: 20px 20px 0px 40px;
      padding-bottom: 20px;
    }
  }
}
