@mixin title {
  font-size: 30px;
  font-weight: bold;
}

@mixin to-do {
  border: 1px solid lightgray;
}

.wrapper {
  width: 100%;

  .container {
    @include to-do;
    display: flex;
    padding-left: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    .box {
      @include title;
      margin: 20px;
    }
  }
}
